<!-- LOGIN -->
<div class="wrapper vertical-banner">
  <div class="container padded">
   <div class="container-sign">
      <!-- <div class="row"> -->

        <!-- <div class="col-sm-6"> -->
          <h2>Je me connecte sur Shared Forests !</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, label: "Mon email", required: false, autofocus: true %>
              <%= f.input :password, label: "Mon mot de passe", required: false %>
              <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, value: "Connexion" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        <!-- </div> -->

        <!-- <div class="col-sm-6"> -->
          <!-- <div class="vertical-banner"> -->
          <!-- <h2>Projet</h2> -->
          <!-- </div> -->
          <!-- </div> -->

      <!-- </div> -->
    </div>
  </div>
</div>


