<div class="wrapper mongradient">

<div class="container">
      <!-- <h1 style="text-align: center;">Offer a tree</h1> -->
  <h4 class="paddedlight" style="color: #78c8a4; text-align: center; padding-bottom: 35px;"> Choisissez le certificat que vous souhaitez offrir, personnalisez, ajustez et éditez !</h4>

      <!-- BEGINNING BORDER AND LAYOUT -->
      <div id="certificate" class="certificate-border certificate-<%= @certificate.template_name %>">
        <div class="certificate-layout">

        <!-- TOP - CERTIFICATE HEADERS -->
          <div class="certificate-headers">
            <div class="certificate-headers-content">
              <div class= "headers-logo" style="background-image: url('<%= image_url("logo-top-certif.png") %>');"></div>
              <div class= "headers-title">CERTIFICAT DE <span class="headers-title-colored">PLANTATION D'ARBRES</span></div>
              <div class= "headers-sub-title">PROJET ALTO HUAYABAMBA, AMAZONIE, PEROU</div>
            </div>
          </div>

          <!-- BANNER - CERTIFICATE BANNER -->
          <div class="certificate-banner" <% if @certificate.template_name.nil? %> style="background-image: url('<%= image_url("templates/banner_yoghiros.png")%>');" <%end %> > </div>

          <!-- BOTTOM TEXT           -->
          <div class="certificate-description">
            <div class="certificate-general-text">
              CONSCIENTS s'engage pour la reforestation avec PUR PROJET, un collectif qui développe et suit des programmes
              de reforestation et de préservation de la forêt avec des petits producteurs du Commerce Equitable. En participant à
              ces programmes, vous vous engagez à leurs côtés à développer des modèles agro-forestiers qui mettent l'homme, la
              nature et le vivant au coeur des activités humaines. Ils permettent ainsi de préserver la forêt et la biodiversité qu'
              elle recèle tout en luttant efficacement contre le réchauffement climatique et la désertification.<br/><br/>
              Merci pour votre contribution !
            </div>
            <div class="text-signature">Les équipes CONSCIENTS et PUR PROJET</div>

            <!-- CERTIFICATE DATE -->
            <div class="certificate-date">
              <div class="full-date">
                DATE: <span class="certificate-date-choosen">
                  <%= render 'certificate_customize_date' %>
                </span>
              </div>
              <!-- CERTIFICATE BOTTOM LOGO DESCRIPTION COLIBRI ETC -->
              <div class="end-bottom-text">Conscients soutient les programmes de reforestation de Pur Projet, une entreprise Colibris, signataire de la charte de compensation volontaire de l'Ademe et partenaire de la campagne Plantons pour la Planète</div>
              <div class="logo-bottom" style="background-image: url('<%= image_url("logo-bottom-certificate.png")%>');"></div>
            </div>
          </div>
            <!-- LEFT - CERTIFICATE PERSONAL INFO -->
          <div class="certificate-personal-info">
            <div class="certificate-number">
              <div class="certificate-number-text">CERTIFICAT N°</div>
              <div class="certificate-number-info">AH-PE-12345-000</div>
            </div>
            <div class="certificate-tree-quantity">
              <div id="certificate-tree-quantity-content">
                <%= render 'certificate_customize_trees_quantity' %>
              </div>
            </div>
            <div class="certificate-personal-info-logo" style="background-image: url('<%= image_url("logopp-transparent.png") %>');"></div>
            <div class="certificate-attribution-title"> ATTRIBUE A :</div>
            <div class="certificate-attribution-perso">

              <div class="certificate-attribution-perso-box">
                <div class="certificate-attribution-name">
                  <%= render 'certificate_customize_name' %>
                </div>
                <div class="certificate-attribution-message">
                 <%= render 'certificate_customize_message' %></div>
              </div>
            </div>
            <div class="certificate-parcel-info">
              Projet: Alto Huayabamba, San Martin, Pérou<br/>
              Type: reforestation, agroforesterie<br/>
              Partenaire: Fundacion Amazonia Viva<br/>
              Parcelle: 1-1-SRA-1001-10-3-PA1<br/>
              GPS lat: 7.26384 - GPS long: 76.79193<br/>
              Espèces: Capirona<br/>
              Producteur : GENRY VALLES PANDURO
            </div>
          </div>
          <!-- BOTTOM STAMP AND TL SIGN-->
          <div class="certificate-stamp-sign" style="background-image: url('<%= image_url("tampon_signature.png")%>');"></div>
          <div class="year">2016</div>
        </div>
      </div>
<!-- END BORDER AND LAYOUT       -->
</div>
<!-- END CONTAINER 1 -->

  <!-- TEMPLATES -->
<div class="container template-container">
  <div class="templates-row">
        <% if @certificate.occasion == "Un anniversaire" %>
      <% Certificate::TEMPLATE_ANNIVERSAIRE.each do |template_name| %>
        <div class="template-col">
          <%= link_to "##{template_name}", data: { name: template_name }, class: "template-link" do %>
            <%= image_tag "templates/thumbnail_#{template_name}.jpg", class: "template-thumbnail" %>
          <% end %>
        </div>
      <% end %>
   <% elsif @certificate.occasion == "Une naissance" %>
      <% Certificate::TEMPLATE_NAISSANCE.each do |template_name| %>
        <div class="template-col">
          <%= link_to "##{template_name}", data: { name: template_name }, class: "template-link" do %>
            <%= image_tag "templates/thumbnail_#{template_name}.jpg", class: "template-thumbnail" %>
          <% end %>
        </div>
    <% end %>
   <% elsif @certificate.occasion == "Noël" %>
      <% Certificate::TEMPLATE_NOEL.each do |template_name| %>
        <div class="template-col">
          <%= link_to "##{template_name}", data: { name: template_name }, class: "template-link" do %>
            <%= image_tag "templates/thumbnail_#{template_name}.jpg", class: "template-thumbnail" %>
          <% end %>
        </div>
      <% end %>
   <% elsif @certificate.occasion == "Un baptême" %>
      <% Certificate::TEMPLATE_BAPTEME.each do |template_name| %>
        <div class="template-col">
          <%= link_to "##{template_name}", data: { name: template_name }, class: "template-link" do %>
            <%= image_tag "templates/thumbnail_#{template_name}.jpg", class: "template-thumbnail" %>
          <% end %>
        </div>
      <% end %>
   <% elsif @certificate.occasion == "Un mariage" %>
      <% Certificate::TEMPLATE_MARIAGE.each do |template_name| %>
        <div class="template-col">
          <%= link_to "##{template_name}", data: { name: template_name }, class: "template-link" do %>
            <%= image_tag "templates/thumbnail_#{template_name}.jpg", class: "template-thumbnail" %>
          <% end %>
        </div>
      <% end %>
   <% elsif @certificate.occasion == "Noël" %>
      <% Certificate::TEMPLATE_NOEL.each do |template_name| %>
        <div class="template-col">
          <%= link_to "##{template_name}", data: { name: template_name }, class: "template-link" do %>
            <%= image_tag "templates/thumbnail_#{template_name}.jpg", class: "template-thumbnail" %>
          <% end %>
        </div>
      <% end %>
   <% elsif @certificate.occasion == "Dire merci" %>
      <% Certificate::TEMPLATE_MERCI.each do |template_name| %>
        <div class="template-col">
          <%= link_to "##{template_name}", data: { name: template_name }, class: "template-link" do %>
            <%= image_tag "templates/thumbnail_#{template_name}.jpg", class: "template-thumbnail" %>
          <% end %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>

   <div class="container-form-payment">
   <p style="color: $gray; text-align: center;">5€, quelques clics et vous découvrirez bientôt l'arbre dans sa forêt. </p>
   <div class="text-center">
     <button id="stripe-trigger" class="btn btn-treehouse">Payez par CB</button>
   </div>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-email="<%= current_user.email %>"
  data-name="My Tree"
  data-description="My Tree"
  data-amount="500"
  data-currency="EUR">
  // amount in cents
</script>
<% content_for :after_js do %>
  <script>
    $(document).ready(function() {
      $('.stripe-button-el').addClass('hidden');
      $('#stripe-trigger').click(function() {
        $('.stripe-button-el').click();
      });
      $('#modify-certificate-date').click(function() {
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          weekStart: 1,
          language: 'fr'
        });
      });
    });
  </script>
<% end %>





