<div class="container">
  <h1>Plant a tree</h1>

  <div class="container-form">
    <%= form_for @certificate, html: { class: 'form-horizontal' } do |f| %>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Nombre d'arbres</label>
        <div class="col-sm-9">
          <%= f.text_field :trees_quantity, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Destinataire </label>
        <div class="col-sm-9">
          <%= f.text_field :name, placeholder: "Prénom et nom de la personne à qui vous offrez l'arbre", class: "form-control"%>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">A quelle occasion ?</label>
        <div class="col-sm-9">
          <%= f.text_field :occasion, collection: Certificate::OCCASIONS, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Date du cadeau</label>
        <div class="col-sm-9">
          <%= f.text_field :date, as: :date, class: "form-control"%>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Message</label>
        <div class="col-sm-9">
          <%= f.text_area :message, placeholder: "Message de X caractères", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
<!--         <label for="" class="control-label col-sm-3">Valider</label> -->
        <div class="col-sm-12">
          <%= f.submit 'Valider', class: "btn btn-transparent pull-right"%>
        </div>
      </div>
    <% end %>
  </div>
</div>


