<div class="wrapper mongradient">

<div class="container">
  <!-- <h1 style="text-align: center;">Plant a tree</h1> -->
  <h4 class="paddedlight" style="color: #78c8a4; text-align: center;"> A qui allez-vous offrir un arbre aujourd'hui ?</h4>

  <div class="container-form">
    <%= form_for @certificate, html: { class: 'form-horizontal' } do |f| %>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Nombre d'arbres</label>
        <div class="col-sm-9">
          <%#= f.text_field :trees_quantity, class: "form-control" %>
          <%= f.select :trees_quantity, arbre: [1, 2, 3, 4, 5] %>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Destinataire </label>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control", placeholder: "Edward & Kevin"%>
        </div>
      </div>


      <div class="form-group">
        <label for="" class="control-label col-sm-3">Email du destinataire </label>
        <div class="col-sm-9">
          <%= f.text_field :email, class: "form-control"%>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">A quelle occasion ?</label>
        <div class="col-sm-9">
          <%= f.select :occasion, Occasions: Certificate::OCCASIONS %>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Date du cadeau</label>
        <div class="col-sm-9">
          <%= f.text_field :date, as: :date, value: Date.today.strftime('%e-%m-%Y'), order: [:day, :month, :year], class: "form-control datepicker"%>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">De la part de  </label>
        <div class="col-sm-9">
          <%= f.text_field :giver, class: "form-control", placeholder: "Tonton et tata"%>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-sm-3">Message</label>
        <div class="col-sm-9">
          <%= f.text_field :message, maxlength: 60, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%#= f.submit 'Valider', class: "btn btn-transparent pull-right", id:"submit-carole"%>
          <%= f.submit "J'édite mon certificat", class: "btn btn-transparent pull-right"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>

